.Logo {
  background-color: #8700a9;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: larger;
  font-weight: 600;
  border: wheat;
  border-style: dashed;
  color: wheat;
}

.Logo img {
  height: 100%;
}
